
.pagination_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.pagination_wrapper span {
    display: inline-block;
    margin-right: 7px;
    cursor: pointer;
    text-align: center;


}

.selectedPage {
    /*font-weight: bold;*/
    text-shadow: 1px 0px 0px black;
    transition: all 0.4s ease 0s;
}


