.main {
    padding-top: 30px;
    padding-left: 30px;
    max-width: 1000px;
    padding-right: 10px;
    position: relative;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pagination_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.pagination_wrapper span {
    display: inline-block;
    margin-right: 7px;
    cursor: pointer;
    text-align: center;


}

.selectedPage {
    /*font-weight: bold;*/
    text-shadow: 1px 0px 0px black;
    transition: all 0.4s ease 0s;
}