.nav {
    padding-top: 30px;
    padding-left: 30px;
    flex: 0 1 150px;
    background-color: brown;
}


a {
    display: inline-block;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}

a.active {
    color: gold;
}