.nav {
    padding-top: 30px;
    flex: 0 1 200px;
    background-color: brown;
}

.menu{
  padding-left: 30px;
}


a {
    display: inline-block;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}

a.active {
    color: gold;
}