.App {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    margin: 0 auto;

}

.profile {
    flex: 1 1 50%;
    background-color: chartreuse;
    max-width: 1000px;
    word-wrap: break-word;
}